@* @model UserModel *@
@* @Html.Partial("_NewWorkspace", new NewWorkspaceModel()) *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devtrack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site2.css" />
</head>
<body>
    <header>
        @if(@Context.Session.GetInt32("UserId") != null)
        {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 d-flex">
            @* <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3 justify-content-between"> *@
            <div id="NavDropDown" class="flex-container container mr-auto">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">devtrack</a>
                    <ul class="navbar-nav fex-container mr-auto">
                        <li>
                            <form>
                                <input type="text" name="Search" placeholder="Search" />
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="plusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">+
                            </a>
                            <div class="dropdown-menu" aria-labelledby="plusDropdown">
                                <a asp-controller="Organization" asp-action="New" class="dropdown-item">Organization</a>
                                <a
                                class="dropdown-item newworkspace" data-toggle="modal" data-target="#NewWorkspace">Workspace</a>
                                @if(@Context.Session.GetInt32("WorkspaceId") != null)
                                {
                                    <a class="dropdown-item newproject" data-toggle="modal" data-target="#NewProject">Project</a>
                                }
                                @if(@Context.Session.GetInt32("ProjectId") != null)
                                {
                                <a class="dropdown-item" href="#">Task</a>
                                }
                                <a class="dropdown-item" href="#">Conversation</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="userInitialsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@Context.Session.GetString("FullName")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userIntialsDropdown">
                                <a
                                class="dropdown-item newworkspace" data-toggle="modal" data-target="#NewWorkspace">Workspace</a>
                                <hr/>
                                <a asp-controller="Users" asp-action="Info"asp-route-userid="@Context.Session.GetInt32("UserId")" class="dropdown-item">My Account</a>
                                <a asp-controller="Home" asp-action="Logout" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
            </div>
        </nav>
    }
    </header>
    @* <div class="container"> *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    @* </div> *@

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DevTrack - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        
    @RenderSection("Scripts", required: false)
</body>
</html>
