@model WorkspaceModel
@await Html.PartialAsync("_NewWorkspace", new NewWorkspaceModel())
@await Html.PartialAsync("_NewProject", new NewProjectModel())
@{
    ViewData["Title"] = @Model.Name;
}
<head>
    <link rel="stylesheet" href="~/css/wsinfo.css"/>
</head>
<div class="row top">
<h3>Workspace: @Model.Name</h3>
<a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-controller="Workspace" asp-route-id="@Model.WorkspaceId" asp-route-userid="@Context.Session.GetInt32("UserId")">Delete</a>
</div>
<div class="main">
<div class="row">
    <div class="col-md-3 left">
        <h4>Description</h4>
        <form asp-action="Update" asp-controller="Workspace" asp-route-id="@Model.WorkspaceId" asp-route-userid="@Context.Session.GetInt32("UserId")" method="GET" class="workspaceinfo form-group">
            <textarea class="form-control" placeholder="@Model.Description" asp-for="Description"></textarea>
            <button class="btn btn-success btn-sm">Update Description</button>
        </form>
        <h4>CoWorkers</h4>
        <p>placeholder for form selection to find Coworkers to add to this workspace</p>
        <form asp-action="Update" asp-controller="Workspace" asp-route-id="@Model.WorkspaceId" method="GET" class="workspaceinfo form-group">
            <select asp-for="CoWorker">
                @* not sure what to put here for options... *@
            </select>
        </form>
        <p>Possible also find a way to email invite another user into this workspace</p>

    </div>
    <div class="col-md-9">
        <h4>Projects</h4>
        <div class="pcards col-md-12">

        @{
            foreach (var p in @Model.Projects)
            {
                <a asp-action="Info" asp-controller="Project" asp-route-id="@p.ProjectId"><div class="pcard">@p.Name</div></a>
            }
        }
        </div>
        <a class="newproject btn btn-sm btn-secondary" data-toggle="modal" data-target="#NewProject" role="button">Add Project</a>
        <p class="lead">Also later on... add a hovering tooltip that shows description for each project</p>
        <h4>Placeholder for Conversation / Discussion</h4>
        <ul>Wall Style
            <li>Message System</li>
            <li>With Comments</li>
        </ul>
    </div>
</div>
</div>