@model UserModel
@Html.Partial("_NewWorkspace", new NewWorkspaceModel())
@Html.Partial("_NewProject", new NewProjectModel())

@{
    ViewData["Title"] = "Dashboard";
}
<head>
    @* <link rel="stylesheet" href="~/css/loginstyle.css"/> *@
</head>
    <h3>My Workspaces</h3>
<table class="table table-striped table-bordered table-hover table-condensed table-light">
    <thead>
        <th>Workspace Name</th>
        <th>Projects</th>
        <th>CoWorkers</th>
        <th>Created Date</th>
    </thead>
    @{
        foreach (var a in @ViewBag.AllWorkspaces)
        {
            if(@a.UserId == @Context.Session.GetInt32("UserId"))
            {
                <tr>
                    <td><a asp-controller="Workspace" asp-action="Info" asp-route-id="@a.WorkspaceId">@a.Name</a></td>
                    <td>@a.Projects.Count</td>
                    <td>@a.CoWorkers.Count</td>
                    <td>@a.CreatedAt</td>
                </tr>
            }
        }
    }
</table>
<table class="table table-striped table-bordered table-hover table-condensed table-light">
    <thead>
        <th>Favorite Projects</th>
        <th>Upcoming Tasks</th>
        <tr>
            <td>Placeholder for Project Name</td>
            <td>Placeholder for Project Tasks</td>
        </tr>
    </thead>
</table>
</div>